*{
    margin: 0%;
    padding: 0%;
}

body{
    position: relative;
    background-color: #080808	;
    width: 100%;
}
.nav{
   height: 11vh;
   /*background-color: red; */
   display: flex;
   justify-content: space-between;
   
}

.logo{
    background-image: url(./RP4.png);
    background-size: cover;
    height: 60px;
    width: 60px;
    margin-left: 15vh;
    margin-top: 2vh;
}

.menu{
    display: flex;
    align-items: center;
    width: 90vh;
    justify-content: space-evenly;
    margin-right: 18vh;
}
.menu>button{
    background-color: rgba(0, 0, 255, 0);
    color: white;
    border: 0.5mm solid #c0575a;
    border-radius: 20px;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 1vh; 
    padding-left: 3%; 
    padding-right: 3%;
    position: relative;
    overflow: hidden;
}

.menu button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    left: 0;
    bottom:-100%;
    transition: ease-in, 0.6s;
    
}
.img :hover::after{
    background-image: url(./20250402_191801.png);
    background-size: cover;
    height: 50vh;
    width: 50vh;
}
.menu button:hover::after{
    bottom: 0;
}

.menu button a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
    font-size: 2.5vh;
    font-weight: 600;
    z-index: 9;
}

.menu button:hover a {
    color: #c0575a;
}
.main{
    display: flex;
    justify-content: space-between;
    gap: 20vh;
}
.photo{
    height: 70vh;
    width: 50vh;
    margin-left: 25vh;
    margin-top: 5vh;
    background-color: #c72e33;
    border-radius: 800px;
    justify-items: center;
    align-content: center;
}

.img{
    height: 69vh;
    width: 49vh;
    border-radius: 800px;
    background-image: url(./aaa.jpeg);
    background-size: cover;
    
}

.main h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    display: flex;
    font-size: 8vh;
}
.red{
    margin-left: 1.5vh;
    color: #c72e33;
    display: inline-block;
    transition: transform 0.4s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.red:hover {
    transform: scale(1.15);
}
.writ{
    margin-right: 30vh;
    align-content: center;
}

.main h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    display: flex;
    font-size: 6vh;
}

.writ p{
    margin-top: 2vh;
    color: aliceblue;
    font-size: 2.5vh;
}
.icon{
    width: 30vh;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
.icon i {
    font-size: 5vh;

}


.head1{
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 12.5vh;
    text-decoration: 2mm underline #230538 ;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  background: linear-gradient(100deg,#f8032c,#230538);
  background-clip: text;
  color: transparent;
  
}

.main2 {
    margin-top: 20vh;
    justify-items: center;
}

.item i{
    font-size: 15vh;
}


.slider{
    position: relative;
    width: 200vh;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        white,
        transparent
    );

}
.slider .list{
    display: flex;
    width: 10vh;
    min-width: calc(var(--width)*var(--quantity));
    
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autorun 15s linear infinite;
    animation-delay: calc((15s / var(--quantity))*(var(--position) - 1)) !important ;
}

.slider .list .item i {
    width: 100%;
}

@keyframes autorun{
    from{
        left: 100%;
    } to{
        left: calc(var(--width)*-1);
    }
}
 .slider:hover .item{
    animation-play-state: paused!important;
 }

 .slider .list .item p {
    color: black;
    font-weight: 600;

}

.slider[reverse="true"] .item{
    animation: reverseplay 15s linear infinite;
}

@keyframes reverseplay{
    from{
        left: calc(var(--width)*-1);
    } to{
        left: 100%;
    }
}
/* website\style.css */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #080808;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  background: #fff;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}
.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}
.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}
.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}
.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}
.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}
.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}
.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }
  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  80% {
    opacity: 1;
  }
}

.skills{
    height: 40vh;
    width: 150vh;
    background-color: #b4a9aa;
    border-radius: 30px;  
    justify-items: center;  
    box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.274);
}
.skills h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #230538;
    font-size: 6vh;
    margin-top: 2vh;
}
.m{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.rs{
    margin-top: 5vh;
font-size: 17vh;
display: flex;
gap: 9vh;
}
